<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow " style="background-color: #e3f2fd;">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Profile Details</h3>
            </div>
            <form action="">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label>Name</label>   
                    </div>
                    <div class="col-md-6">
                        <label>Ayush Tembhare</label>
                    </div>
                    <div class="col-md-6">
                        <label>Gender</label>   
                    </div>
                    <div class="col-md-6">
                        <label>Male</label>
                    </div>
                    <div class="col-md-6">
                        <label>Phone Number</label>   
                    </div>
                    <div class="col-md-6">
                        <label>8392938274</label>
                    </div>
                    <div class="col-md-6">
                        <label>Email ID</label>   
                    </div>
                    <div class="col-md-6">
                        <label>Tembhareayush5</label>
                    </div>
                    <div class="col-md-6">
                        <label>DOB</label>   
                    </div>
                    <div class="col-md-6">
                        <label>12/10/2023</label>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>